# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related files
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code settings (uncomment if you want to include)
#.vscode/

# Environment variables file
.env

# Flutter/Dart/Pub related files and directories
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related files
app.*.symbols

# Obfuscation related files
app.*.map.json

# Android Studio build artifacts
/android/app/debug/
/android/app/profile/
/android/app/release/

# Flutter specific
.flutter-plugins
.flutter-plugin-dependencies
.metadata
build/
.dart_tool/
.packages
.pub-cache/

# iOS specific
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Flutter/Generated.xcconfig
ios/Runner.xcodeproj/project.pbxproj
ios/Runner.xcworkspace/contents.xcworkspacedata
ios/DerivedData/

# macOS specific
macos/.symlinks/
macos/Pods/
macos/Podfile.lock
macos/Flutter/Generated.xcconfig
macos/Runner.xcodeproj/project.pbxproj
macos/Runner.xcworkspace/contents.xcworkspacedata
macos/DerivedData/

# General files to ignore (often apply to any project)
.DS_Store
.idea/
.vscode/
*.iml
*.swp